<div class="calculator">
    <header>
        <div class="logo">calc</div>
        <div class="theme-toggle">
            <span>THEME</span>
            <div class="toggle-container">
                <div>
                    <span>1</span>
                    <span>2</span>
                    <span>3</span>
                </div>
                <div class="toggle" (click)="toggleTheme()">
                    <div [ngClass]="togglePositionClass" class="toggle-handle"></div>
                </div>
            </div>
        </div>
    </header>

    <div class="calculator-display">
        {{ displayValue }}
    </div>

    <div class="calculator-buttons">
        <button
            *ngFor="let button of buttons"
            (click)="handleButtonClick(button)"
        >
            {{ button.label }}
        </button>

        <!-- Reset, Delete, Equals -->
        <button class="reset-btn" (click)="reset()">RESET</button>
        <button (click)="calculate()" class="equals-btn">=</button>
    </div>
</div>
