@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

body.theme-1 {
    background-color: #3a4764;
}

body.theme-2 {
    background-color: #eae3dc;
}

body.theme-3 {
    background-color: #1d1f33;
}
